.components {
    &__addevent {
        padding: 0px 60.5px;
        @media screen and (max-width: 768px) {
            padding: 0px;
        }

        &-form {
            box-shadow: 0px 2px 10px 0px #00000033;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-location-image {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            img {
                max-width: 450px;
                height: auto;
                border-radius: 10px;
            }
        }

        &-ticket-grid {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            &-row {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                &-items {
                    display: flex;
                    justify-content: center; 
                    gap: 20px;

                    &-item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex: 1; 
                        max-width: 30%; 
                        
                        label {
                            margin-bottom: 5px;
                        }

                        input {
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
