.components {
    &__header {
        position: fixed;
        left: 0;
        width: 100%;
        top: 0;
        z-index: 10000;
        margin-bottom: 50px;
        background: linear-gradient(118.98deg, rgba(237, 70, 144, 0.9), rgba(85, 34, 204, 0.9)), url('/assets/bg/bg-home.svg');
        background-repeat: no-repeat;
        background-size: cover;
        div {
            img {
                width: 150%;
                @media screen and (max-width: 769px) {
                    width: 100%;
                }
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;
      
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;
      
              a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
      
                &:hover {
                  background-color: #ddd;
                }
              }
            }
      
            &:hover .dropdown-content {
              display: block;
            }
      
            &:hover .dropbtn {}
          }
        
        &-item {
            ul {
                gap: 30px;
                @media screen and (max-width: 769px) {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: flex-start;
                    position: fixed;
                    top: 60px;
                    right: -300px;
                    width: 200px;
                    height: 100vh;
                    background: #cecece;
                    box-shadow: -1px 3px 5px rgb(0, 0, 0.1);
                    padding: 40px 0 0 10px;
                    box-sizing: border-box;
                    transition: 0.8s ease;
                    z-index: 1111111;
                    &.active {
                        right: 0;
                    }
                }
            }

            a {
                font-family: 'Noto Sans JP';
                font-weight: 200;
                font-style: normal;
                color: white;
                transition: 0.3s ease;
                font-size: 20px;
                @media screen and (max-width: 769px) {
                    color: black;
                }
                &.active {
                    color: black;
                }
                &:hover {
                    opacity: 0.7;
                    color: black;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 0;
                    left: 0;
                    bottom: -7px;
                    background: black;
                    height: 2px;
                    transition: 0.3s ease-out;
                    color: black;
                }

                &:hover::after {
                    width: 100%;
                    color: black;
                }
            }
        }
    }
}

.hover-link.active:hover {
    opacity: 0.7;
    color: black;
    @media screen and (max-width: 769px) {
        color: black;
    }
}

.hover-link.active::after {
    width: 100%;
}

#mobile {
    display: none;
    @media screen and (max-width: 769px) {
        display: block;
        font-size: 24px;
    }
}
