.components {
    &__input {
        border: 1px solid $color-white-gray;
        border-radius: 4px;
        color: $color-dark-gray;
        width: 100%;
        height: 46px;
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        background-clip: padding-box;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
        &:focus {
            outline: unset !important;
            border: 2px solid $color-blue !important;
        }
        &::placeholder {
            color: $color-blue-gray;
            opacity: 0.8;
        }
        &:disabled {
            background-color: $color-white-gray;
        }
        &-area {
            resize: none;
            height: 80px;
        }
        &-icon {
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        &-suggest {
            position: relative;
            .react-autosuggest__input {
                border: 1px solid $color-white-gray;
                border-radius: 4px;
                color: $color-dark-gray;
                width: 100%;
                height: 46px;
                padding: 0.375rem 0.75rem;
                line-height: 1.5;
                background-clip: padding-box;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
                &:focus {
                    outline: unset !important;
                    border: 2px solid $color-blue !important;
                }
                &::placeholder {
                    color: $color-blue-gray;
                    opacity: 0.8;
                }
                &:disabled {
                    background-color: $color-white-gray;
                }
            }
            .react-autosuggest__suggestions-container--open {
                display: block;
                position: absolute;
                width: 100%;
                background-color: $color-white;
                box-shadow: 0 1px 10px color-black-opacity(0.2);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                margin-top: 5px;
                z-index: 999;
            }
            .react-autosuggest__suggestions-list {
                margin: 0;
                padding: 0;
                list-style-type: none;
                height: 200px;
                overflow: auto;
                li {
                    &:hover {
                        background-color: $color-blue;
                        color: $color-white;
                    }
                }
            }
            .react-autosuggest__suggestion {
                cursor: pointer;
                padding: 10px 20px;
            }
        }
    }
}
