.components {
    &__navbar {
        padding-top: 70px;
        height: 50vh;
        // padding-bottom: 70px;

        @include responsive(max-md) {
            padding-top: 60px;
        }
        .swiper {
            width: 100%;
            height: 120%;
            //background: #000;
        }

        .swiper-slide {
            font-size: 18px;
            color: #660066;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 40px 60px;
        }

        .parallax-bg {
            // background-image: {images.BG};
            background-image: url('https://media.self.com/photos/5e70f72443731c000882cfe7/4:3/w_2560%2Cc_limit/GettyImages-125112134.jpg');
            position: absolute;
            left: 0;
            top: 0;
            width: 130%;
            height: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;
        }

        .swiper-slide .title {
            font-family: calibri;
            font-size: 43px;
            font-weight: 350;
            letter-spacing: 1px;
        }

        .swiper-slide .subtitle {
            font-size: 21px;
        }

        .swiper-slide .text {
            font-family: calibri;
            font-size: 18px;
            max-width: 400px;
            line-height: 1.3;
            letter-spacing: 2px;
        }
    }
}
