.components {
    &__visitor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #e0e0e0;
        padding: 20px;
        background-color: #fff;
        width: 100%;
        max-width: 500px;
        margin: auto;

        &-stat {
            text-align: center;

            h2 {
                margin: 0;
                font-size: 2em;
                color: #333;
            }

            p {
                margin: 0;
                color: #999;
            }
        }

        &-divider {
            width: 1px;
            height: 50px;
            background-color: #e0e0e0;
        }
    }
}
