.pages {
    &__addevent {
        flex-direction: row;
        &-rightside {
            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 150px 20px;
            }
        }

        &-leftside {
            min-height: 100vh;
        }
    }
}
