.pages {
    &__events {
        &--btnSearch {
            position: absolute;
            top: 14px;
            right: 10px;
            cursor: pointer;
        }
        &--status {
            padding: 10px;

            &.status-new {
                color: blue;
            }

            &.status-ongoing {
                color: orange;
            }

            &.status-resolved {
                color: green;
            }
        }
        &--box {
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    }
}
