.components {
  &__login {
    padding: 0px 121.5px;
    @media screen and (max-width: 768px){
      padding: 0px;
    }
    &-form {
      box-shadow: 0px 2px 10px 0px #00000033;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-firstButton {
        background-color: #396961 !important;
        height: 48px;
      }

      &-secondButton {
        border: none;
        background: transparent;
        span {
          color: #396961;
        }
      }

      &-thirdButton{
        border: 1px solid var(--Color-Border-Border, #D9DADB);
        height: 48px;
        border-radius: 6px;
      }
    }
  }
}
